.emloyee__salary {
    padding: 50px 0;
}

.employee__salary--inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.employee {
    width: 60%;
}

.salary {
    width: calc(40% - 20px);
}