body{
    font-family: 'Cinzel', serif;
    background-color: rgb(221, 233, 221);
    padding: 10px;
    margin: 20px;
}
.head ul li a {
    text-decoration: none; 
}
.head ul li {
    float: right;
    text-decoration: none;
    display:inline-block;
    margin-left: 10px;
    padding-left: 20px;
   font-size: 20px;
    
}

.top-header{
    width: 100%;
    height: 400px;
    padding-top: 30px;
}
.top-header h2 span{
    color: orange;
    font-size: 40px;
}
.top-header img{
    width: 300px;
    margin-left: 5px;
    padding-left: 5px;
    float: right;
}
.a-tag{
    text-decoration: none;
    background-image: linear-gradient( 45deg, lightSalmon, tomato);
    padding: 10px;
    font-weight: 700;
    color: rgb(238, 228, 214);
    border-radius: 20px;
}
    .a-tag:hover {
    color: teal;
    background-color: rgb(177, 157, 121);
    background-image: -webkit-repeating-radial-gradient(rgb(201, 182, 182),rgb(223, 231, 223),rgb(47, 43, 51));
    }
    .profile{
    width: 100%;
    height: 400px;
    margin: 5%;
    }
    .profile img {
        height: 300px;
        padding: 2%;
        margin: 4%;
    }
    .about{
    float: left;
    width: 40%;
    }
    .main-project {
    display: block;
    height: 300px;
}
    .project{
        text-align: center;
    }
    .project span{
        color: orange;
    }
    .project-1{
        width: 28%;
        margin-left: 5%;
        /* border: 2px solid red; */
        float: left;
    }
.project-1 img {
    /* margin-left: 8%; */
    /* float: left; */
    border-radius: 20px;
    box-shadow: rgb(128, 28, 28);
}
.project-1 img{
    width: 100%;
    height: 300px;
}
.kemon-acho {
     background-image: url(images/work.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    width: 55%;
    height: 200px;
    border-radius: 20px;
}
.history{
    padding: 20px;
}
.kemon-acho{
    margin: 100px auto;
}
.kemon-acho p {
margin-left: 250px;
margin-top: 70px;
font-size: 30px;
color: rgb(8, 8, 8);
text-shadow: brown;
padding: 5px;
}
.kemon-acho a {
    /* margin-left: 600px;
    font-size: 30px;
    border-radius: 20px; */
}
.kemon-acho h1 {
    color: azure;
    font-size: xx-large;
    margin-top: 55px;
    margin-left: 50px;
    
}

.footer{
    text-align: center;
}
.chat{
    text-decoration: none;
    background-image: linear-gradient( 45deg, lightSalmon, tomato);
    padding: 10px;
    font-weight: 700;
    color: rgb(238, 228, 214);
    border-radius: 5px;
    float: right;
    margin-top: -67px;
}
    .chat:hover {
    color: teal;
    background-color: rgb(177, 157, 121);
    background-image: -webkit-repeating-radial-gradient(rgb(201, 182, 182),rgb(223, 231, 223),rgb(47, 43, 51));
    }


    .footer .logo img {
    height: 50px;
    width: 50px;
    margin: 10px;
}