*{
    margin-left: 0%;
    padding-left: 0%;
}
body{
font-family: 'Xanh Mono', monospace;
width: 200%;
background-color:antiquewhite ;
}
.half-width {
    width: 60%;
    
    margin-left: 5%;
    padding-left: 5%;
    float: left;
}