h1{
   font-size: 50px; 
   font-family: 'Roboto Mono', monospace;
}
.name{
    color: orange;
}
.half-width{
   width: 40%;
   float:left;
   margin-left: 0.5%;
   padding-left: 1%;
}
.half-width img{
width: 100%;
}